@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Share&family=Sora:wght@300;400;700&display=swap');

body, html {
    height: 100%;
    background-color: #5C2A1A;
    scroll-behavior: smooth;
}

.full-page{
    display: flex;
    justify-content: center;
}

/*estilo do header*/
header{
    display: flex;
    width: 1550px;
    z-index: 2;
}

#logo-n-text{
    color: white;
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 80px;
    display: flex;
    align-items: center;
    padding: 10px;
}

#logo-image{
    padding-top: 17px;
    padding-right: 20px;
}

.banner-options{
    color: white;
    font-family: 'Share', cursive;
    font-weight: 400;
    font-size: 36px;
    display: flex;
    align-items: center;
}

.banner-options span{
    padding: 10px;
}

.banner-options a{
    color: white;
    outline: none;
    text-decoration: none;
}

.banner-options a:hover{
    color: #D9D9D9;
    transition: 0.2s;
}

.banner-options button{
    background: #FF6D1C;
    color: #5C2A1A;
    font-family: inherit;
    font-size: 32px;
    border: none;
    width: 133px;
    height: 48px;
    border-radius: 10px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}

.banner-options button:hover{
    background: #d35816;
    color: #472114;
    cursor: pointer;
    transition: 0.2s;
}
/*estilo da página inicial*/
.landing-page{
    background-image: url("../contents/WoodBG.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 1600px;
    height: 961px;
    top: 0px;
    display: flex;
    justify-content: center;
}

#mantra{
    font-family: 'Sora', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 70px;
    width: 800px;
    text-align: right;
    margin-top: 255px;
}

#mantra-alt{
    color: #FF6D1C;
    border: white solid;
    background: white;
    border-radius: 10px;
    padding-left: 7px;
    padding-right: 7px;
}

#pizza-background{
    position: absolute;
    margin-top: 400px;
    margin-left: -320px;
}

#pizza-background img{
    width: 160%;
    height: auto;
}

#therock-posing{
    position: absolute;
    margin-top: 215px;
    margin-left: 800px;
}

#therock-posing img{
    width: 135%;
    height: auto;
}

/*estilo da página de pedidos*/
.order-page{
    font-family: 'Sora', sans-serif;
    font-weight: 300;
    background-image: url("../contents/pizza-makingBGred.jpg");
    background-repeat: no-repeat;
    position: absolute;
    width: 1600px;
    height: 961px;
    top: 961px;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.order-page h1{
    color: white;
    font-weight: 300;
    font-size: 75px;
    letter-spacing: 0.04em;
    margin-top: 25px;

}

#order-panel{
    background: white;  
    position: absolute;
    width: 1049px;
    height: 755px;
    margin-top: 135px;
    border-radius: 10px;
}

.panel-margin{
    margin: 45px 68px;
}

#order-panel h3{
    color: black;
    font-size: 24px;
    font-style: normal;
    display: flex;
}

#order-panel h4{
    color: black;
    font-weight: 300;
    font-size: 20px;
    text-align: center;  
}

#prices{
    align-items:flex-start;
}

#price-s{
    display: flex;
    justify-content: flex-start;
    margin: 0 0;
    position: absolute;
}

#price-m{
    display: flex;
    justify-content:center;
    margin: 0 0;
    position: inherit;
}

#price-l{
    display: flex;
    justify-content: flex-end;
    margin: 0 0;
}

#psize-input{
    color: #FF6D1C;
    font-size: 32px;
    letter-spacing: 0.04em;
    text-align: center;
}

#flavor-selection{
    color: black;
    font-weight: 300;
    font-size: 16px;
    max-width: 913px;
    justify-content: space-around;
    display:grid;
    
    grid-template-columns: 390px 390px;
    grid-row: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 35px;
    
}

.pizza-name{
    font-size: 32px;
    color: inherit;
    margin: 0;
}

.p-info{
    vertical-align: bottom;
}

.flavor-option{
    display: flex;
    max-width: 400px;
    text-align: left;
}

.pizza-icon-mini{
    height: 50%;
    width: auto;
    margin-right: 15px;
}

.pizza-checkbox{
    float: left;
}

.orange-bar{
    background-color: #FF6D1C;
    border: none;
    height: 2px;
    width: auto;
}

#extras-title{
    color: inherit;
    margin-top: -30px;
}
#extras-margin{
    display: flex;
    max-width: 480px;
}

.extras label{
    color: black;
    font-weight: 300;
    font-size: 32px;
}

.extra-name{
    color: #FF6D1C;
}

.area-button button{
    background-color: #FF6D1C;
    border: none;
    border-radius: 10px;
    color: #5C2A1A;
    font-weight: 300;
    font-size: 32px;
    letter-spacing: 0.04em;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    width: 311px;
    height: 108px;
    margin-top: -109px;
}

.area-button button:hover{
    background-color: #d35816;
    color: #472114;
    transition: 0.2s;
}

/*painel endereço*/
.address-panel{
   display:none;

}

.address-form{
    display: grid;
    grid-row-gap: 15px; 
}

.form-style input{
    width: 419px;
    height: 36px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 6px;
    display: grid;
    grid-row-gap: 10px; 
    font-family: 'Sora', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

#adicional-info textarea{
    display: flex;
    width: 419px;
    height: 142px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 6px;
    font-family: 'Sora', sans-serif;
    font-size: 18px;
    font-weight: 300;
    resize: none;
}

#adicional-info textarea:focus{
    outline: none;
}

/*mensagem the rock*/
    .therock-set{
        display: flex;
        position: relative;
        background: #FF6D1C;
        border-radius: 6px;
        width: 463px;
        height: 373px;
        float: right;
        align-items: center;
        justify-content: center;
        top: -434px;
        left: 35px;
    }

    .therock-set hr{
        position: absolute;
        background-color: white;
        border: none;
        border-radius: 6px;
        height: 6px;
        width: 413px;
        margin-top: 170px;

    }

    #therock-flexing{
        margin-top: -200px;
        padding-left: 42px;
    }

    #therock-flexing img{
        width: 90%;
        height: auto;
        transform: scaleX(-1);
    }

    #set-text{
        color: white;
        font-size: 20px;
        position: absolute;
        margin-top: 235px;
        width: 413px;
        height: 101px;
        
    }

    #set-text h1{
        font-size: inherit;
        font-weight:500;
        line-height: 20px;
    }

    #confirm-button button{
    background-color: #FF6D1C;
    border: none;
    border-radius: 10px;
    color: #5C2A1A;
    font-weight: 300;
    font-size: 32px;
    letter-spacing: 0.04em;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    width: 311px;
    height: 108px; 
    margin-top: 58px;
    margin-left: 602px;
    position: absolute;
    }

    #confirm-button button:hover{
        background-color: #d35816;
        color: #472114;
        transition: 0.2s;
    }

/*modal resumo do pedido*/
    .modal{
        position: fixed;
        position: absolute;
         left: 50%;
        top: 50%;
         transform: translate(-50%, -50%);
        width: 500px;
        height: 700px;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        background-color: #FF6D1C;
        cursor: pointer;
        visibility: hidden;
        opacity: 0;
        transition: all 0.35s ease-in;
    }

    .modal.is-visible {
        visibility: visible;
        opacity: 1;
      }

    .modal-header{
        max-width: 500px;
    }

    .modal-content{
        font-size: 32px;
    }

    .modal-content h1{
        font-size: 48px;
        margin: 0 0;
    }
    
    .text-breaking{
        display: grid;
        max-width: 500px;
        line-height: 43px;
    }

    .label{
        color: white;
    }
    
    .userInput{
        color: #5C2A1A;
    }
/*rodapé*/
